<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>ctrl</string>
		<key>Key</key>
		<string>keyCombo</string>
		<key>Title</key>
		<string>Key Combo</string>
		<key>Titles</key>
		<array>
			<string>Use Control</string>
			<string>Use Option/Alt</string>
			<string>Use Control-Option/Alt</string>
			<string>Use Command/Meta-Option/Alt</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>ctrl</string>
			<string>opt</string>
			<string>ctrlopt</string>
			<string>cmdopt</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>189</real>
		<key>Key</key>
		<string>lastTab</string>
		<key>Title</key>
		<string>Switch To Last Tab Key</string>
		<key>Titles</key>
		<array>
			<string>9</string>
			<string>0</string>
			<string>-</string>
			<string>=</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>57</real>
			<real>48</real>
			<real>189</real>
			<real>187</real>
		</array>
	</dict>
</array>
</plist>
